<!-- <head>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/css/dist/mdb5/standard/core.min.css">
  <link rel="stylesheet" id="roboto-subset.css-css" href="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/css/mdb5/fonts/roboto-subset.css?ver=3.9.0-update.5" type="text/css" media="all">

  <link rel="stylesheet" href="../public/css/editAddress.css">

  <script src="/js/address.js"></script>


</head> -->

<head>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/css/dist/mdb5/standard/core.min.css">
  <link rel="stylesheet" id="roboto-subset.css-css" href="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/css/mdb5/fonts/roboto-subset.css?ver=3.9.0-update.5" type="text/css" media="all">

  <link rel="stylesheet" href="../public/css/editAddress.css">

  <script src="/js/address.js"></script>


</head>

<head>
  
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="theme-color" content="#33b5e5">

<link rel="stylesheet" href="../public/css/editAddress.css">

<script src="/js/address.js"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">




<link rel="stylesheet" href="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/css/dist/mdb5/standard/core.min.css">


<link rel="stylesheet" id="roboto-subset.css-css" href="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/css/mdb5/fonts/roboto-subset.css?ver=3.9.0-update.5" type="text/css" media="all">


<meta charset="utf-8">
<title>Bootstrap Address Form - free examples, templates &amp; tutorial</title>

<meta name="description" content="Responsive address form built with Bootstrap 5. Address form templates include basic examples, email validation, use of cards, use of photos &amp; more.">
<meta name="image" content="https://mdbcdn.b-cdn.net/docs/standard/extended/bootstrap-address-form/assets/featured.jpg">

<meta itemprop="name" content="Bootstrap Address Form - free examples, templates &amp; tutorial">
<meta itemprop="description" content="Responsive address form built with Bootstrap 5. Address form templates include basic examples, email validation, use of cards, use of photos &amp; more.">
<meta itemprop="image" content="https://mdbcdn.b-cdn.net/docs/standard/extended/bootstrap-address-form/assets/featured.jpg">

<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:title" content="Bootstrap Address Form - free examples, templates &amp; tutorial">
<meta property="twitter:description" content="Responsive address form built with Bootstrap 5. Address form templates include basic examples, email validation, use of cards, use of photos &amp; more.">
<meta property="twitter:site" content="@MDBootstrap">
<meta property="twitter:creator" content="@MDBootstrap">
<meta property="twitter:image:src" content="https://mdbcdn.b-cdn.net/docs/standard/extended/bootstrap-address-form/assets/featured.jpg">
<meta property="twitter:player" content="">

<meta property="og:title" content="Bootstrap Address Form - free examples, templates &amp; tutorial">
<meta property="og:description" content="Responsive address form built with Bootstrap 5. Address form templates include basic examples, email validation, use of cards, use of photos &amp; more.">
<meta property="og:image" content="https://mdbcdn.b-cdn.net/docs/standard/extended/bootstrap-address-form/assets/featured.jpg">
<meta property="og:url" content="https://mdbootstrap.com/docs/standard/extended/bootstrap-address-form/">
<meta property="og:site_name" content="MDB - Material Design for Bootstrap">
<meta property="og:locale" content="en_US">
<meta property="og:video" content="">
<meta property="fb:admins" content="443467622524287">
<meta property="og:type" content="website">

<link rel="shortcut icon" href="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/favicon.ico">

<link rel="canonical" href="https://mdbootstrap.com/docs/standard/extended/bootstrap-address-form/">


<script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script><script type="text/javascript" async="" src="https://cdn.mouseflow.com/projects/9165eec4-fcd5-4c79-aa25-5d2d8d5eee4d.js"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script async="" src="//www.googletagmanager.com/gtm.js?id=GTM-W7MBMN"></script><script data-cfasync="false">
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.'+'js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W7MBMN');
</script>



<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "MDBootstrap",
            "item": "https://mdbootstrap.com/",
            "image": "https://mdbcdn.b-cdn.net/img/Marketing/mdb-press-pack/mdb-main.webp"
        }, {
            "@type": "ListItem",
            "position": 2,
            "name": "Standard",
            "item": "https://mdbootstrap.com/docs/standard/",
            "image": "https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/content/en/_mdb5/standard/about/assets/mdb5-about.webp"
        }, {
            "@type": "ListItem",
            "position": 3,
            "name": "Address Form",
            "item": "https://mdbootstrap.com/docs/standard/extended/bootstrap-address-form/",
            "image": "https://mdbcdn.b-cdn.net/docs/standard/extended/bootstrap-address-form/assets/featured.jpg"
        }]
    }
</script>

<style>
    #navbarNotification::after {
        content: none !important;
    }

     
    #main-navbar .badge {
        position: absolute;
        font-size: .6rem;
        margin-top: -.1rem;
        margin-left: -.5rem;
        padding: .2em .45em;
    }

     
    #main-navbar .nav-link {
        color: rgba(0, 0, 0, .55) !important;
        font-size: 1rem !important;
        font-weight: 400;
    }

    #main-navbar .nav-link :hover {
        color: rgb(76, 76, 76);
    }


     
    [aria-labelledby=new-mdb-technologies-dropdown] li {
        background-color: rgb(255, 255, 255) !important;
    }

    [aria-labelledby=new-mdb-technologies-dropdown] li :hover {
        background-color: #EEEEEE !important;
        box-shadow: none !important;
    }

    [aria-labelledby=userDropdown] a {
        background-color: rgb(255, 255, 255) !important;
        box-shadow: none !important;
    }

    [aria-labelledby=userDropdown] a:hover {
        background-color: #EEEEEE !important;
    }

    #navbarNotificationContent a {
        background-color: rgb(255, 255, 255) !important;
        box-shadow: none !important;
    }

    #navbarNotificationContent a:hover {
        background-color: #EEEEEE !important;
    }

    .dropdown-item-pseudo-focus {
        background-color: rgba(0, 0, 0, 0.05) !important;
        box-shadow: none !important;
    }
</style>
<style>
    .docs-pills {
        border-radius: 0.5rem;
    }

    .docs-pills pre[class*="language-"] {
        border-bottom-right-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }

    .docs-pills .btn-copy-code,
    .docs-tab-content .export-to-snippet {
        position: absolute;
        top: 16px;
        right: 16px;
        box-shadow: none !important;
        color: #616161 !important;
        background-color: transparent !important;
        padding: 6px 15px !important;
    }
</style>
<style>
    @media (max-width: 576px) {
        [id^=dpl-], [class^=dpl-], .mobile-hidden {
            display: none!important;
        }
    }
</style>
<style>INPUT:-webkit-autofill,SELECT:-webkit-autofill,TEXTAREA:-webkit-autofill{animation-name:onautofillstart}INPUT:not(:-webkit-autofill),SELECT:not(:-webkit-autofill),TEXTAREA:not(:-webkit-autofill){animation-name:onautofillcancel}@keyframes onautofillstart{}@keyframes onautofillcancel{}</style><meta http-equiv="origin-trial" content="A751Xsk4ZW3DVQ8WZng2Dk5s3YzAyqncTzgv+VaE6wavgTY0QHkDvUTET1o7HanhuJO8lgv1Vvc88Ij78W1FIAAAAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjgwNjUyNzk5LCJpc1RoaXJkUGFydHkiOnRydWV9"><script type="text/javascript" async="" src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/979879318/?random=1669945563782&amp;cv=11&amp;fst=1669945563782&amp;bg=ffffff&amp;guid=ON&amp;async=1&amp;gtm=2wgbu0&amp;u_w=1536&amp;u_h=864&amp;label=uIBJCPv423AQlouf0wM&amp;hn=www.googleadservices.com&amp;frm=0&amp;url=https%3A%2F%2Fmdbootstrap.com%2Fdocs%2Fstandard%2Fextended%2Fbootstrap-address-form%2F&amp;tiba=Bootstrap%20Address%20Form%20-%20free%20examples%2C%20templates%20%26%20tutorial&amp;auid=1726031946.1669770866&amp;uaa=x86&amp;uab=64&amp;uafvl=Google%2520Chrome%3B107.0.5304.123%7CChromium%3B107.0.5304.123%7CNot%253DA%253FBrand%3B24.0.0.0&amp;uap=Windows&amp;uapv=10.0.0&amp;uaw=0&amp;rfmt=3&amp;fmt=4"></script></head>


<header>
  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- ====== Favicon ====== -->
  <link
    rel="shortcut icon"
    href="images/favicon-32x32.png"
    type="image/png"
  />
  <!-- ====== Boxicons ====== -->
  <link
    href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- ====== Swiper CSS ====== -->
  <link
    rel="stylesheet"
    href="https://unpkg.com/swiper/swiper-bundle.min.css"
  />
  <!-- ====== Custom CSS ====== -->
  <link rel="stylesheet" href="/css/styles.css" />
  <title>OneStop Shop</title>
  <!-- <script src="/js/shop.js"></script> -->
  <!-- <link rel="stylesheet" href="/scss/shop.css"/> -->
  <script>
    
    function getCookie(name) {
      var dc = document.cookie;
      var prefix = name + "=";
      var begin = dc.indexOf("; " + prefix);
      if (begin == -1) {
          begin = dc.indexOf(prefix);
          if (begin != 0) return null;
      }
      else
      {
          begin += 2;
          var end = document.cookie.indexOf(";", begin);
          if (end == -1) {
          end = dc.length;
          }
      }
    }
    async function headerSearch() {

        const h_searchBar = document.getElementById("header-search-bar").value;
        localStorage.setItem('search',h_searchBar);
        window.location = 'http://localhost:5001/shop';
      }

    async function userCart(){
      var myCookie = getCookie("emailId");
    if (myCookie == null || cookies.emailId.length === 0) {
    // userForm.classList.add("show");
    // navList.classList.remove("show");
    location.href = "/signin?#";
  } else {
    location.href = "/cart";
  }
    }
    
      
  </script>
  
</head>
<body>
  <header class="header">
    <!-- ====== Navigation ====== -->
  <nav class="navbar">
    <div class="row container d-flex" style="margin: 0;flex-wrap:nowrap;width:40%">
      <div class="logo">
        <a href="\">
          <img class="imglogo" src="/images/logo-transparent-png.png" />
        </a>
        
      </div>

      <div class="nav-list d-flex">
        <a href="\">Home</a>
        <a href="\shop">Shop</a>
        <a href="">Pages</a>
        <a href="\aboutus">About Us</a>
        <!-- <a href="">Lookups</a> -->
        <div class="close">
          <i class="bx bx-x"></i>
        </div>
        <a  class="user-link">Login</a>
      </div>

      <div class="icons d-flex">
        <!-- <div class="icon d-flex"><i class="bx bx-search"></i></div> -->
        <div id="search">
          <div id="header-search-bar-wrapper"  class="icon-input-wrapper">
              <input id="header-search-bar" placeholder="Search" type="search" />
              <i class="bx bx-search icon-button" id="header-search" onclick="headerSearch()"></i>
          </div>
      </div>    
        <div class="icon user-icon d-flex">
          <i class="bx bx-user"></i>
        </div>
        <div >
          <!-- <i class="bx bx-cart"></i> -->
          <i class="fa fa-shopping-cart" style="font-size:24px;cursor: pointer;" onclick="userCart()"></i>
          <span></span>
        </div>
      </div>

      <!-- Hamburger -->
      <div class="hamburger">
        <i class="bx bx-menu-alt-right"></i>
      </div>
    </div>
  </nav>
</header>

<!-- ====== Login and Signup Form ====== -->
<div class="user-form">
  <div class="close-form d-flex"><i class="bx bx-x"></i></div>
  <div class="form-wrapper container">
    <div class="user login">
      <div class="img-box">
        <img src="/images/logo-transparent-png.png" alt="" />
      </div>
      <div class="form-box">
        <div class="top">
          <p>
            Not a member?
            <span data-id="#ff0066">Register now</span>
          </p>
        </div>
        <form >
          <div class="form-control">
            <h2>Hello Again!</h2>
            <p>Welcome back you've been missed.</p>
            <input id = 'Signin_email'type="text" placeholder="Enter Username" />
            <div>
              <input id = 'Signin_password' type="text" placeholder="Password" />
              <div class="icon form-icon">
                <!-- <img src="./images/eye.svg" alt="" /> -->
              </div>
            </div>
            <span>Recovery Password</span>
            <input id='login'  type="button" value="Login" />
          </div>
          <!-- <div class="form-control">
            <p>Or continue with</p>
            <div class="icons">
              <div class="icon">
                <img src="./images/search.svg" alt="" />
              </div>
              <div class="icon">
                <img src="./images/apple.svg" alt="" />
              </div>
              <div class="icon">
                <img src="./images/facebook.svg" alt="" />
              </div>
              <div class="icon">
                <img src="./images/github.svg" alt="" />
              </div>
            </div>
          </div> -->
        </form>
      </div>
    </div>

    <!-- Register -->
    <div class="user signup">
      <div class="form-box">
        <div class="top">
          <p>
            Already a member?
            <span data-id="#1a1aff">Login now</span>
          </p>
        </div>
        <form >
          <div class="form-control">
            <h2>Welcome Codevo!</h2>
            <p>It's good to have you.</p>
            <input id = "Signin_Fname" type="text" placeholder="Enter FirstName" />
            <input id = "Signin_Lname" type="text" placeholder="Enter Lastname" />
            <input id = "Signin_Email" type="email" placeholder="Enter Email" />
            <div>
              <input id = "Signin_Password" type="password" placeholder="Password" />
              <div class="icon form-icon">
                <img src="./images/eye.svg" alt="" />
              </div>
            </div>
            <div>
              <input type="password" placeholder="Confirm Password" />
              <div class="icon form-icon">
                <img src="./images/eye.svg" alt="" />
              </div>
            </div>
            <input id='signup' type="Submit" value="Register" />
            
          </div>
          <!-- <div class="form-control">
            <p>Or continue with</p>
            <div class="icons">
              <div class="icon">
                <img src="./images/search.svg" alt="" />
              </div>
              <div class="icon">
                <img src="./images/apple.svg" alt="" />
              </div>
              <div class="icon">
                <img src="./images/facebook.svg" alt="" />
              </div>
              <div class="icon">
                <img src="./images/github.svg" alt="" />
              </div>
            </div>
          </div> -->
        </form>
      </div>
      <div class="img-box">
        <img src="./images/trial.svg" alt="" />
      </div>
    </div>
  </div>
</div>

      <!-- ====== SwiperJs ====== -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</body>
</html>

</header>

<body>

<div class="py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col">
        <div class="card my-4 shadow-3">
          <div class="row g-0">
            <div class="col-xl-6 d-xl-block bg-image">
              <img src="https://mdbcdn.b-cdn.net/img/Others/extended-example/delivery.webp" alt="Sample photo"
                class="img-fluid" />
              <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
                <div class=" justify-content-center align-items-center h-100">
                  <div class=" text-center" style="margin-top: 220px;">
                    <i class="fas fa-truck text-white fa-3x"></i>
                    <p class="text-white title-style">One Stop Shop</p>
                    <p class="text-white mb-0"></p>
  
                    <figure class="text-center mb-0">
                      <blockquote class="blockquote text-white">
                        <p class="pb-3">
                          <i class="fas fa-quote-left fa-xs text-primary"
                            style="color: hsl(210, 100%, 50%) ;"></i>
                          <span class="lead font-italic">Everything at your doorstep.</span>
                          <i class="fas fa-quote-right fa-xs text-primary"
                            style="color: hsl(210, 100%, 50%) ;"></i>
                        </p>
                      </blockquote>
  
                    </figure>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-4 text-uppercase">Delivery Info</h3>
  
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="">
                      <label class="" for="form3Example1m">First name</label>
                      <input type="text" id="a_fname" class="form-control form-control-lg" value= "<%= Address['firstName'] %>" style="font-size: 13px;">
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="">
                      <label class="" for="form3Example1n">Last name</label>
                      <input type="text" id="a_lname" class="form-control form-control-lg" value= "<%= Address['lastName'] %>" style="font-size: 13px;">
                    </div>
                  </div>
                </div>
  
                <div class="col-md-6 mb-4">
                  <label class="" for="form3Example8">Address</label>
                  <input type="text" id="a_address" class="form-control form-control-lg" value= "<%= Address['address'] %>" style="font-size: 13px;">
                </div>
  
  
  
                <div class="row">
                  <div class="col-md-6 mb-4">
  
                    <div class="col-md-6 mb-4">
                      <label class="" for="form3Example8">State</label>
                      <input type="text" id="a_state" class="form-control form-control-lg" value= "<%= Address['state'] %>" style="font-size: 13px;">
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4">
  
                    <div class="col-md-6 mb-4">
                      <label class="" for="form3Example8">City</label>
                      <input type="text" id="a_city" class="form-control form-control-lg" value= "<%= Address['city'] %>" style="font-size: 13px;">
                    </div>
  
                  </div>
                </div>

                <div class="col-md-6 mb-4">
                  <label class="" for="form3Example8">Country</label>
                  <input type="text" id="a_country" class="form-control form-control-lg" value= "<%= Address['country'] %>" style="font-size: 13px;">
                </div>
  
                <div class="col-md-6 mb-4">
                  <label class="" for="form3Example3">Zip</label>
                  <input type="text" id="a_zip" class="form-control form-control-lg" value= "<%= Address['zipcode'] %>" style="font-size: 13px;">
                </div>
  
                <!-- <div class="form-outline mb-4">
                  <input type="text" id="form3Example2" class="form-control form-control-lg" value= <%= Address['firstName'] %>>
                  <label class="form-label" for="form3Example2">Email</label>
                </div> -->

                <div class="col-md-6 mb-4">
                  <label class="" for="form3Example2">Phone Number</label>
                  <input type="text" id="a_phoneNumber" class="form-control form-control-lg" value= "<%= Address['phoneNumber'] %>" style="font-size: 13px;">
                </div>

                <div class="form-outline mb-4" hidden>
                  <input type="text" id="a_addressId" class="form-control form-control-lg" value= "<%= Address['id'] %>" style="font-size: 13px;">
                </div>

                <div class="form-outline mb-4" hidden>
                  <input type="text" id="a_type" class="form-control form-control-lg" value= "Edit">
                </div>
  
                <div class="d-flex justify-content-end pt-3">
                  <button type="button" class="btn btn-primary btn-lg"
                    style="background-color:hsl(210, 100%, 50%) " id = "p_save">Update Address</button>
                </div>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('footer.ejs') %>
  </body>