<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet"
        href="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/css/dist/mdb5/standard/core.min.css">
    <link rel="stylesheet" id="roboto-subset.css-css"
        href="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/css/mdb5/fonts/roboto-subset.css?ver=3.9.0-update.5"
        type="text/css" media="all">

    <link href = "/css/editPaymentMethod.css" rel = "stylesheet">

    <script src="/js/paymentMethod.js"></script>


</head>

<header>
    <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- ====== Favicon ====== -->
    <link
      rel="shortcut icon"
      href="images/favicon-32x32.png"
      type="image/png"
    />
    <!-- ====== Boxicons ====== -->
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- ====== Swiper CSS ====== -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <!-- ====== Custom CSS ====== -->
    <link rel="stylesheet" href="/css/styles.css" />
    <title>OneStop Shop</title>
    <!-- <script src="/js/shop.js"></script> -->
    <!-- <link rel="stylesheet" href="/scss/shop.css"/> -->
    <script>
      
      function getCookie(name) {
        var dc = document.cookie;
        var prefix = name + "=";
        var begin = dc.indexOf("; " + prefix);
        if (begin == -1) {
            begin = dc.indexOf(prefix);
            if (begin != 0) return null;
        }
        else
        {
            begin += 2;
            var end = document.cookie.indexOf(";", begin);
            if (end == -1) {
            end = dc.length;
            }
        }
      }
      async function headerSearch() {

          const h_searchBar = document.getElementById("header-search-bar").value;
          localStorage.setItem('search',h_searchBar);
          window.location = 'http://localhost:5001/shop';
        }

      async function userCart(){
        var myCookie = getCookie("emailId");
      if (myCookie == null || cookies.emailId.length === 0) {
      // userForm.classList.add("show");
      // navList.classList.remove("show");
      location.href = "/signin?#";
    } else {
      location.href = "/cart";
    }
      }
      
        
    </script>
    
  </head>
  <body>
    <header class="header">
      <!-- ====== Navigation ====== -->
    <nav class="navbar">
      <div class="row container d-flex" style="margin: 0;flex-wrap:nowrap;width:40%">
        <div class="logo">
          <a href="\">
            <img class="imglogo" src="/images/logo-transparent-png.png" />
          </a>
          
        </div>

        <div class="nav-list d-flex">
          <a href="\">Home</a>
          <a href="\shop">Shop</a>
          <a href="">Pages</a>
          <a href="\aboutus">About Us</a>
          <!-- <a href="">Lookups</a> -->
          <div class="close">
            <i class="bx bx-x"></i>
          </div>
          <a  class="user-link">Login</a>
        </div>

        <div class="icons d-flex">
          <!-- <div class="icon d-flex"><i class="bx bx-search"></i></div> -->
          <div id="search">
            <div id="header-search-bar-wrapper"  class="icon-input-wrapper">
                <input id="header-search-bar" placeholder="Search" type="search" />
                <i class="bx bx-search icon-button" id="header-search" onclick="headerSearch()"></i>
            </div>
        </div>    
          <div class="icon user-icon d-flex">
            <i class="bx bx-user"></i>
          </div>
          <div >
            <!-- <i class="bx bx-cart"></i> -->
            <i class="fa fa-shopping-cart" style="font-size:24px;cursor: pointer;" onclick="userCart()"></i>
            <span></span>
          </div>
        </div>

        <!-- Hamburger -->
        <div class="hamburger">
          <i class="bx bx-menu-alt-right"></i>
        </div>
      </div>
    </nav>
  </header>

  <!-- ====== Login and Signup Form ====== -->
  <div class="user-form">
    <div class="close-form d-flex"><i class="bx bx-x"></i></div>
    <div class="form-wrapper container">
      <div class="user login">
        <div class="img-box">
          <img src="/images/logo-transparent-png.png" alt="" />
        </div>
        <div class="form-box">
          <div class="top">
            <p>
              Not a member?
              <span data-id="#ff0066">Register now</span>
            </p>
          </div>
          <form >
            <div class="form-control">
              <h2>Hello Again!</h2>
              <p>Welcome back you've been missed.</p>
              <input id = 'Signin_email'type="text" placeholder="Enter Username" />
              <div>
                <input id = 'Signin_password' type="text" placeholder="Password" />
                <div class="icon form-icon">
                  <!-- <img src="./images/eye.svg" alt="" /> -->
                </div>
              </div>
              <span>Recovery Password</span>
              <input id='login'  type="button" value="Login" />
            </div>
            <!-- <div class="form-control">
              <p>Or continue with</p>
              <div class="icons">
                <div class="icon">
                  <img src="./images/search.svg" alt="" />
                </div>
                <div class="icon">
                  <img src="./images/apple.svg" alt="" />
                </div>
                <div class="icon">
                  <img src="./images/facebook.svg" alt="" />
                </div>
                <div class="icon">
                  <img src="./images/github.svg" alt="" />
                </div>
              </div>
            </div> -->
          </form>
        </div>
      </div>

      <!-- Register -->
      <div class="user signup">
        <div class="form-box">
          <div class="top">
            <p>
              Already a member?
              <span data-id="#1a1aff">Login now</span>
            </p>
          </div>
          <form >
            <div class="form-control">
              <h2>Welcome Codevo!</h2>
              <p>It's good to have you.</p>
              <input id = "Signin_Fname" type="text" placeholder="Enter FirstName" />
              <input id = "Signin_Lname" type="text" placeholder="Enter Lastname" />
              <input id = "Signin_Email" type="email" placeholder="Enter Email" />
              <div>
                <input id = "Signin_Password" type="password" placeholder="Password" />
                <div class="icon form-icon">
                  <img src="./images/eye.svg" alt="" />
                </div>
              </div>
              <div>
                <input type="password" placeholder="Confirm Password" />
                <div class="icon form-icon">
                  <img src="./images/eye.svg" alt="" />
                </div>
              </div>
              <input id='signup' type="Submit" value="Register" />
              
            </div>
            <!-- <div class="form-control">
              <p>Or continue with</p>
              <div class="icons">
                <div class="icon">
                  <img src="./images/search.svg" alt="" />
                </div>
                <div class="icon">
                  <img src="./images/apple.svg" alt="" />
                </div>
                <div class="icon">
                  <img src="./images/facebook.svg" alt="" />
                </div>
                <div class="icon">
                  <img src="./images/github.svg" alt="" />
                </div>
              </div>
            </div> -->
          </form>
        </div>
        <div class="img-box">
          <img src="./images/trial.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
  
        <!-- ====== SwiperJs ====== -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  </body>
</html>

</header>


<body>

    <div class="py-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col">
                <div class="card my-4 shadow-3">
                    <div class="row g-0">
                        <div class="col-xl-6 d-xl-block bg-image">
                            <img src="https://mdbcdn.b-cdn.net/img/Others/extended-example/delivery.webp"
                                alt="Sample photo" class="img-fluid" />
                            <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
                                <div class=" justify-content-center align-items-center h-100">
                                    <div class=" text-center" style="margin-top: 220px;">
                                        <i class="fas fa-truck text-white fa-3x"></i>
                                        <p class="text-white title-style">One Stop Shop</p>
                                        <p class="text-white mb-0"></p>

                                        <figure class="text-center mb-0">
                                            <blockquote class="blockquote text-white">
                                                <p class="pb-3">
                                                    <i class="fas fa-quote-left fa-xs text-primary"
                                                        style="color: hsl(210, 100%, 50%) ;"></i>
                                                    <span class="lead font-italic">Everything at your doorstep.</span>
                                                    <i class="fas fa-quote-right fa-xs text-primary"
                                                        style="color: hsl(210, 100%, 50%) ;"></i>
                                                </p>
                                            </blockquote>

                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="card-body p-md-5 text-black">
                                <h3 class="mb-4 text-uppercase">Payment Method Info</h3>
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                      <div class="">
                                        <label class="" for="form3Example1m">Card Number</label>
                                        <input type="text" id="a_cardNumber" class="form-control form-control-lg" value= "<%= PaymentMethod['cardNumber'] %>" style="font-size: 13px;">
                                      </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                      <div class="">
                                        <label class="" for="form3Example1n">Name on Card</label>
                                        <input type="text" id="a_nameOnCard" class="form-control form-control-lg" value= "<%= PaymentMethod['nameOnCard'] %>" style="font-size: 13px;">
                                      </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                      <div class="">
                                        <label class="" for="form3Example1n">Expiry date</label>
                                        <input type="text" id="a_expiryDate" class="form-control form-control-lg" value= "<%= PaymentMethod['expiryDate'] %>" style="font-size: 13px;">
                                      </div>
                                    </div>
                                    <!-- <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="text" id="a_expiryDate" class="form-control form-control-lg"
                                                value="">
                                            <label class="form-label" for="form3Example1n">Expiry date</label>
                                        </div>
                                    </div> -->
                                  </div>

                                <!-- <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="text" id="a_cardNumber" class="form-control form-control-lg"
                                                value="<%= PaymentMethod['cardNumber'] %>">
                                            <label class="form-label" for="form3Example1m">Card Number</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="text" id="a_nameOnCard" class="form-control form-control-lg"
                                                value="<%= PaymentMethod['nameOnCard'] %>">
                                            <label class="form-label" for="form3Example1n">Name on Card</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="text" id="a_expiryDate" class="form-control form-control-lg"
                                                value="<%= PaymentMethod['expiryDate'] %>">
                                            <label class="form-label" for="form3Example1n">Expiry date</label>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="">
                                    <label class="" for="form3Example1n">Card Type</label>
                                    <input type="text" id="a_cardType" class="form-control form-control-lg" value= "<%= PaymentMethod['cardType'] %>" style="font-size: 13px;">
                                </div>
                                <!-- <div class="form-outline mb-4">
                                    <input type="text" id="a_cardType" class="form-control form-control-lg"
                                        value="<%= PaymentMethod['cardType'] %>">
                                    <label class="form-label" for="form3Example8">Card Type</label>
                                </div> -->

                                <div class="row">
                                    <div class="col-md-6 mb-4">

                                        <div class="">
                                            <label class="form-label" for="form3Example8">CVV</label>
                                            <input type="text" id="a_cvv" class="form-control form-control-lg"
                                                value="<%= PaymentMethod['cvv'] %>" style="font-size: 13px;">
                                            
                                        </div>
                                </div>

                                <!-- <div class="row">
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline mb-4">
                                            <input type="text" id="a_cvv" class="form-control form-control-lg"
                                                value="<%= PaymentMethod['cvv'] %>">
                                            <label class="form-label" for="form3Example8">CVV</label>
                                        </div>

                                    </div>
                                </div> -->

                                <div class="form-outline mb-4" hidden>
                                    <input type="text" id="a_paymentId" class="form-control form-control-lg"
                                        value="<%= PaymentMethod['id'] %>">
                                </div>

                                <div class="form-outline mb-4" hidden>
                                    <input type="text" id="a_type1" class="form-control form-control-lg" value="Edit">
                                </div>

                                <div class="invalid-card-number" id="invalid-card-number">
                                    <h1 style="font-size: 19px;">Invalid Card Number</h1>
                                </div>

                                <div class="card-already-exits" id="card-already-exits">
                                    <h1 style="font-size: 19px;">Payment Method already exists for the user</h1>
                                </div>

                                <div class="d-flex justify-content-end pt-3">
                                    <button type="button" class="btn btn-success btn-lg ms-2"
                                        style="background-color:hsl(210, 100%, 50%) " id="p_save1">Update
                                        Payment Method</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('footer.ejs') %>
</body>