<head>

    <meta charset="UTF-8">
    
  <link rel="apple-touch-icon" type="image/png" href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png">
  <meta name="apple-mobile-web-app-title" content="CodePen">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <link rel="shortcut icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico">
  
  <link rel="mask-icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111">
  
  
    <title>OneStop - Orders DetailsPage</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
  <link rel="stylesheet" href="/css/orderHistoryDetails.css">
  
    <script>
    window.console = window.console || function(t) {};
  </script>
  
    
    
    <script>
    if (document.location.search.match(/type=embed/gi)) {
      window.parent.postMessage("resize", "*");
    }

    function SubmitReview(res,id){
      console.log(window.location.href.split("/")[4])
      let oid = window.location.href.split("/")[4];
      console.log(res)
      console.log(id)
      ReviewText = res.previousElementSibling;
      console.log(ReviewText.value)
      Rating = ReviewText.previousElementSibling.previousElementSibling
      console.log(Rating.value)
      
      const options = {
      method: "POST",
      headers: {
        "Content-Type": "application/x-www-form-urlencoded",
      },
      body: new URLSearchParams({
        orderId: oid,
        comments: ReviewText.value,
        rating: Rating.value,
        productId: id,
      }),
    };
    fetch("/productReview", options)
      .then(function (response) {
        console.log("In resp");
        let json = response.json();
        console.log(json);
      })
      .catch(function (error) {
        console.log("In Error");
        console.log(error);
      });

    }
  </script>
  
  </head>
  <%- include('header.ejs') %>
  <div class="container-fluid px-0 bg-black">
    <div class="container px-0">
      <nav class="tanga-header navbar navbar-toggleable-sm justify-content-center">
        <div class="navbar-collapse text-center">
          <a class="navbar-brand mr-4" href="#">
            <!-- <img src="https://dealqueue.tanganetwork.com/images/logo-506c0d3ed2d6fe57bd44a49118fd1939.png" width="" height="30" alt=""> -->
          </a>
          <!-- <link rel="stylesheet" href="orderHistory.scss"> -->
        </div>
      </nav>
    </div>
  </div>
  <div class="container mt-3 mt-md-5">
    <h2 class="text-charcoal hidden-sm-down">Order Detail</h2>
    <h5 class="text-charcoal hidden-md-up">Your Orders</h5>
      <div class="row">
        <div class="col-12">
        <div class="list-group mb-5">
          <div class="list-group-item p-3 bg-white">
            <div class="row no-gutters">
              <div class="col-12 col-sm-9 pr-0 pr-md-3">
                <div class="alert p-2 alert-success w-100 mb-0">
                  <h6 class="text-green mb-0"><b style="font-size: large;">Order Shipped</b></h6>
                  <p class="text-green hidden-sm-down mb-0"></p>
                </div>
              </div>
              <div class="col-12 col-sm-3">
                <a href="" class="btn btn-secondary w-100 mb-2">Track Shipment (Under Development)</a>
              </div>
              <% for(let i = 0, c = 0; i < ProductDetails.length, c < orderDetails.length; i++, c++) { %>
              
              <div class="row no-gutters mt-3" style="border: solid;width:90%;">
                <div class="col-3 col-sm-1">
                  <!-- <img class="img-fluid pr-3" src="https://tanga2.imgix.net/https%3A%2F%2Fs3.amazonaws.com%2Ftanga-images%2Ffc79d08c12dc.jpeg?ixlib=rails-2.1.1&fit=crop&w=500&h=500&auto=format%2Ccompress&cs=srgb&s=c9a50d474788f2658d13b21aa62edd6c" alt=""> -->
                </div>
                <div class="col-12 col-sm-8 pr-0 pr-md-3" >
                  <li class="">
                    <p><b><a href="../product/<%= ProductDetails[i].id %>" class="text-charcoal" style="color: blue;"><%= ProductDetails[i].name %></a></b></p>
                  </li>
                  <li class="">
                    <b>Quantity:</b> <%= orderDetails[c].quantity %>
                  </li>
                  <ul class="list-unstyled text-pebble mb-2">
                    <li class="">
                      <b>Brand:</b> <%= ProductDetails[i].brand %>
                    </li>
                    <div class="product-image">
                      <img src="<%= ProductDetails[i].image[0] %>" style="max-width: 23%;">
                    </div>
                  </ul>
                  <h6 class="text-charcoal text-left mb-0 mb-md-2"><b style="font-size: 16px;">Amount :- $ <%= ProductDetails[i].retailPrice %></b></h6>
                </div>
            
                <div class="col-12 col-sm-3 hidden-sm-down">
                  <!-- <a href="" class="btn btn-secondary w-100 mb-2">Buy It Again</a>
                  <a href="" class="btn btn-secondary w-100">Request a Return</a> -->

                  <h3>Rating :</h3>
                  <input  type="number" max="5" min="0" style="border: 1px solid black;" />
                  <h3>Description :</h3>
                  <textarea style="height: 90px;width: 200px;border: 1px solid black;" placeholder="Describe Your Experience" ></textarea>
                  <button type="button" class="btn btn-info" onclick="SubmitReview(this,'<%= ProductDetails[i].id%>')" >Submit Review</button>
                </div>
              </div>
              <% } %>
          </div>
          </div>
        </div>
        </div>
      </div>
      <li class="list-group-item d-flex justify-content-between">
        <span>Please review the products by submitting the reviews above</span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span>Total (USD)</span>
        <strong>

          <% let totalPrice = 0; %>
          <% for(let i = 0, c = 0; i < ProductDetails.length, c < orderDetails.length; i++, c++) { %>
            <%
              totalPrice += (orderDetails[c].quantity) * (ProductDetails[i].retailPrice);
            %>
          <% } %>
          <%= totalPrice %>
          
        </strong>
      </li>
  </div>
  <%- include('footer.ejs') %>
  
  <div class="p-3 hidden-md-up"></div>
  <div class="mobile-nav hidden-md-up">
    <a href="">
      <i class="fa fa-home"></i>
      Deals
    </a>
    <a class="" href="">
      <i class="fa fa-th-large"></i>
      Categories
    </a>
    <a href="">
      <i class="fa fa-search"></i>
      Search
    </a>
    <a href="" class="active">
      <i class="fa fa-shopping-cart"></i>
      Cart
    </a>
    <a class="" href="">
      <i class="fa fa-user"></i>
      Account
    </a>
  </div>